.password-group {
  position: relative;
  width: 90%;
  margin-bottom: 20px;
  display: flex;
  align-items: center; /* 入力フィールドとアイコンを垂直中央に配置 */
}


/* パスワード入力フィールドのスタイル */
.password-input {
  width: 100%;
  height: 50px; /* パスワード入力欄の縦幅 */
  padding: 10px 40px 10px 10px; /* パスワード表示ボタン用の余白 */
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  box-sizing: border-box;
}

.password-input:hover {
  background-color: hsl(210, 2%, 61%);
}

.password-input:focus {
  background-color: hsl(0, 0%, 100%);
  border-color: #007bff;
  outline: none;
}

/* パスワード表示切り替えボタン */
.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
}

.toggle-password:hover {
  color: #007bff;
}