

.top-list-child {
  flex: 1;  /* 均等な幅 */
  border: 0.5px solid black; /* 縁の設定 */
  padding: 20px; /* 内側の余白 */
  background-color: white; /* 背景色 */
  z-index: 1; /* 前面に表示 */
}

.top-list-body {
  display: flex;
  align-items: flex-start; /* 上揃え */
  padding-left: 30%;
}

.todolist-container {
  display: flex;
  flex-direction: column;

}

.fixed-calendar {
  position: fixed;
  display: flex;
  left: 0%;
  border-radius: 8px; /* 角丸 */
  padding: 10px;
  pointer-events: auto; /* クリックを有効にする */
}
